@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
  --color-midnight: #170d03;
  --color-midnight-100: #2e1907;
  --color-midnight-900: #fdf2e9;

  --color-primary-50: #ffffff;
  --color-primary-100: #ffeeee;
  --color-primary-200: #fedcdc;
  --color-primary-300: #fecbcb;
  --color-primary-400: #fdbaba;
  --color-primary-500: #fda9a9;
  --color-primary-600: #fc9797;
  --color-primary-700: #fc8686;
  --color-primary-800: #fb7575;
  --color-primary-900: #fb6363;
  --color-primary-950: #fa5252;

  --color-primary-dark-100: #e14a4a;
  --color-primary-dark-200: #c84242;
  --color-primary-dark-300: #af3939;
  --color-primary-dark-400: #963131;
  --color-primary-dark-500: #7d2929;
  --color-primary-dark-600: #642121;
  --color-primary-dark-700: #4b1919;
  --color-primary-dark-800: #321010;
  --color-primary-dark-900: #190808;
  --color-primary-dark-950: #000000;

  --color-dark-400: #121212;
  --color-dark-300: #1e1e1e;
  --color-dark-200: #2c2c2c;
  --color-dark-100: #333333;
}

@theme {
  --animate-fly-up: fly-up 1s ease-out;
  @keyframes fly-up {
    0% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
    100% {
      opacity: 0;
      transform: translateY(-80px) scale(1.4);
    }
  }
}

@theme {
  --animate-scaleOut: scaleOut 300ms ease-in-out forwards;

  @keyframes scaleOut {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    20% {
      transform: scale(0.97);
      opacity: 0.8;
    }
    40% {
      transform: scale(0.95);
      opacity: 0.6;
    }
    60% {
      transform: scale(0.93);
      opacity: 0.5;
    }
    80% {
      transform: scale(0.91);
      opacity: 0.3;
    }
    100% {
      transform: scale(0.89);
      opacity: 0;
    }
  }
}

@theme {
  --animate-moveLeft: moveLeft 300ms ease-in-out forwards;

  @keyframes moveLeft {
    0% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%) scale(0.8); /* Sposta a sinistra e rimpicciolisce leggermente */
      opacity: 0;
    }
  }
}

@theme {
  --animate-blinking: blinking 1s ease-in-out infinite;

  @keyframes blinking {
    0%,
    100% {
      border-color: transparent;
    }
    50% {
      border-color: #ddd;
    }
  }
}

@theme {
  --animate-loader: loader 1s ease-in-out infinite;

  @keyframes loader {
    0% {
      left: 0%;
      width: 0%;
    }
    50% {
      width: 100%;
    }
    100% {
      left: 100%;
      width: 0%;
    }
  }
}

@theme {
  /* <div className="relative w-full h-0.5 bg-zinc-200 overflow-hidden">
      <div className="absolute h-full bg-primary-300 animate-loader"></div>
  </div> */

  --animate-loader: loader 1s ease-in-out infinite;

  @keyframes loader {
    0% {
      left: 0%;
      width: 0%;
    }
    50% {
      width: 100%;
    }
    100% {
      left: 100%;
      width: 0%;
    }
  }
}

@theme {
  --animate-scaleIn: scaleIn 300ms cubic-bezier(0.42, 0, 0.58, 1) forwards;
  @keyframes scaleIn {
    0% {
      transform: scale(0.95);
      opacity: 0.55;
    }
    20% {
      transform: scale(0.96);
      opacity: 0.7;
    }
    40% {
      transform: scale(0.97);
      opacity: 0.8;
    }
    60% {
      transform: scale(0.98);
      opacity: 0.85;
    }
    80% {
      transform: scale(0.99);
      opacity: 0.9;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

@theme {
  --animate-show: show 300ms ease-in-out forwards;
  @keyframes show {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
}
@theme {
  --animate-moveUp: moveUp 300ms ease-in-out forwards;
  @keyframes show {
    0% {
      transform: translateY(-100%) scale(0.5);
    }
    100% {
      transform: translateY(0) scale(1);
    }
  }
}
@theme {
  --animate-spin: spin 1.2s linear infinite;
  --animate-slideReveal: slideReveal 2s ease-in-out forwards;

  @keyframes slideReveal {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--color-primary-100);
    border-right-color: var(--color-primary-950);
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 24px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--color-primary-100);
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  .spinner-mini-colored {
    margin: 0;
    width: 28px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 5px solid var(--color-primary-100);
    border-right-color: var(--color-primary-950);
    animation: rotate 1s infinite linear;
  }

  .spinner-super-mini {
    margin: 0;
    width: 22px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 5px solid var(--color-primary-100);
    border-right-color: var(--color-primary-950);
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

input:-webkit-autofill {
  border-radius: 0.75rem;
  padding: 0.5rem 1.25rem;
  background-color: var(--color-primary-50) !important;
  box-shadow: 0 4px 6px -1px var(--color-primary-200),
    inset 0 2px 4px 0 var(--color-primary-200) !important;
  color: var(--color-primary-dark-900) !important;
  -webkit-text-fill-color: var(--color-primary-dark-900) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.dark input:-webkit-autofill {
  border-radius: 0.75rem;
  padding: 0.5rem 1.25rem;
  background-color: var(--color-dark-100) !important;
  box-shadow: none !important;
  /* color: var(--color-primary-100) !important; */
  /* -webkit-text-fill-color: var(--color-primary-100) !important; */
  transition: background-color 5000s ease-in-out 0s;
}

/* Rimuove lo stile nativo della checkbox */
input[type="checkbox"] {
  -webkit-appearance: none; /* Safari/Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none;

  width: 16px;
  height: 16px;
  border: 1px solid #555;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

/* Stato checked */
input[type="checkbox"]:checked {
  background-color: var(--color-primary-950);
  border-color: var(--color-primary-950);
}

/* Checkmark personalizzato usando ::after */
input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 6px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
