@import "tailwindcss";

@theme {
  --breakpoint-xxs: 23rem;
  --breakpoint-xs: 30rem;
}

/* @custom-variant dark (&:where(.dark, .dark *)); */

@layer theme, base, clerk, components, utilities;

@theme {
  --color-primary-50: #ffffff;
  --color-primary-100: #ffeeee;
  --color-primary-200: #fedcdc;
  --color-primary-300: #fecbcb;
  --color-primary-400: #fdbaba;
  --color-primary-500: #fda9a9;
  --color-primary-600: #fc9797;
  --color-primary-700: #fc8686;
  --color-primary-800: #fb7575;
  --color-primary-900: #fb6363;
  --color-primary-950: #fa5252;

  --color-primary-dark-100: #e14a4a;
  --color-primary-dark-200: #c84242;
  --color-primary-dark-300: #af3939;
  --color-primary-dark-400: #963131;
  --color-primary-dark-500: #7d2929;
  --color-primary-dark-600: #642121;
  --color-primary-dark-700: #4b1919;
  --color-primary-dark-800: #321010;
  --color-primary-dark-900: #190808;
  --color-primary-dark-950: #000000;

  --animate-spin-fast: spinFast 0.45s linear infinite;

  @keyframes spinFast {
    to {
      transform: rotate(360deg);
    }
  }
}

@layer base {
  :root {
    --toast-bg: var(--color-white);
    --toast-text: var(--color-black);
    --toast-border: #e5e7eb; /* light: gray-200 */

    --stripeBg: var(--color-gray-50);

    --clerk-color-background: #fff;
    --clerk-color-ring: #c84242;
    /* --clerk-color-primary: #c84242; */
    /* --clerk-color-neutral: #e14a4a; */
    --clerk-color-foreground: var(--color-zinc-950);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --toast-bg: var(--color-black);
      --toast-text: var(--color-white);
      --toast-border: #3f3f46; /* dark: zinc-700 */

      --stripeBg: var(--color-zinc-600);

      --clerk-color-background: var(--color-zinc-950);
      --clerk-color-ring: #e14a4a;
      --clerk-color-muted: var(--color-zinc-900);
      /* --clerk-color-primary: #e14a4a; */
      /* --clerk-color-neutral: #c84242; */
      --clerk-color-foreground: #f1f1f1;
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
  }

  input[type="range"] {
    @apply w-full cursor-pointer appearance-none bg-transparent;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    @apply rounded-full bg-black/10;
  }

  input[type="range"]::-moz-range-track {
    @apply rounded-full bg-black/10;
  }

  input[type="range"]::-ms-track {
    @apply rounded-full bg-black/10;
  }

  input[type="range"]::-webkit-slider-thumb {
    @apply h-2 w-8 cursor-pointer appearance-none rounded-md bg-black;
  }

  input[type="range"]::-moz-range-thumb {
    @apply h-0.5 w-8 cursor-pointer appearance-none rounded-md bg-black;
  }

  @media (prefers-color-scheme: dark) {
    input[type="range"] {
      @apply cursor-pointer appearance-none bg-transparent;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      @apply rounded-full bg-white/20;
    }

    input[type="range"]::-moz-range-track {
      @apply rounded-full bg-white/20;
    }

    input[type="range"]::-ms-track {
      @apply rounded-full bg-white/20;
    }

    input[type="range"]::-webkit-slider-thumb {
      @apply h-2 w-8 cursor-pointer appearance-none rounded-md bg-white;
    }
    input[type="range"]::-moz-range-thumb {
      @apply h-0.5 w-8 cursor-pointer appearance-none rounded-md bg-white;
    }
  }
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f0f0f0;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #999;
  }

  /* Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #bbb #f0f0f0;
  }

  @media (prefers-color-scheme: dark) {
    .custom-scrollbar::-webkit-scrollbar {
      width: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
      background: #333;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: #222;
      border-radius: 4px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background-color: #222;
    }

    /* Firefox */
    .custom-scrollbar {
      scrollbar-width: thin;
      scrollbar-color: #222 #333;
    }
  }

  .focus {
    outline-color: var(--color-primary-dark-100); /* base outline color */

    /* Only on keyboard focus */
    &:focus-visible {
      outline-color: var(--color-primary-950);
      outline-width: 2px;
      outline-style: solid;
    }
  }

  .focus-mobile {
    outline-color: var(--color-primary-dark-100); /* base outline color */

    /* Only on keyboard focus */
    &:focus-visible {
      outline-color: var(--color-primary-950);
      outline-width: 1px;
      outline-style: solid;
    }
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }

  .spinner {
    margin: 2.4rem auto;

    width: 5.8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side, var(--color-black) 94%, #0000) top/10px
        10px no-repeat,
      conic-gradient(#0000 30%, var(--color-black));
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(100% - 10px),
      #000 0
    );
    mask: radial-gradient(
      farthest-side,
      #0000 calc(100% - 10px),
      #000 0
    ); /* standard fallback */
    animation: rotate 0.8s infinite linear;
  }

  @media (prefers-color-scheme: dark) {
    .spinner {
      margin: 2.4rem auto;

      width: 5.8rem;
      aspect-ratio: 1;
      border-radius: 50%;
      background:
        /* radial-gradient(farthest-side, #495057 94%, #0000) top/10px 10px */
        radial-gradient(farthest-side, var(--color-gray-100) 94%, #fefdfd00)
          top/10px 10px no-repeat,
        /* conic-gradient(#0000 30%, #495057); */
          conic-gradient(#ffffff00 30%, var(--color-gray-100));
      -webkit-mask: radial-gradient(
        farthest-side,
        #0000 calc(100% - 10px),
        #000 0
      );
      mask: radial-gradient(
        farthest-side,
        #0000 calc(100% - 10px),
        #000 0
      ); /* standard fallback */
      animation: rotate 0.8s infinite linear;
    }
  }

  .dark .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid transparent;
    border-right-color: var(--color-primary-950);
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 24px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--color-primary-100);
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }
  @media (max-width: 30rem) {
    .spinner-mini {
      width: 16px;
      border-width: 1.5px;
    }
  }

  .spinner-mini-colored {
    margin: 0;
    width: 28px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 5px solid var(--color-primary-100);
    border-right-color: var(--color-primary-950);
    animation: rotate 1s infinite linear;
  }

  .spinner-super-mini {
    margin: 0;
    width: 22px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 5px solid var(--color-primary-100);
    border-right-color: var(--color-primary-950);
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .translate-3d-none {
    transform: translate3d(0, 0, 0);
  }

  .scrollbar::-webkit-scrollbar {
    @apply h-4 w-4 rounded;
  }
  .scrollbar::-webkit-scrollbar-track {
    @apply rounded bg-gray-100;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full border-3 border-gray-100 bg-gray-300/70;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400/50;
  }

  @media (prefers-color-scheme: dark) {
    .scrollbar::-webkit-scrollbar {
      @apply h-4 w-4 rounded;
    }
    .scrollbar::-webkit-scrollbar-track {
      @apply rounded bg-neutral-800;
    }

    .scrollbar::-webkit-scrollbar-thumb {
      @apply rounded-full border-3 border-neutral-800 bg-zinc-900;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
      @apply bg-neutral-950;
    }
  }
}

@utility touch-hitbox {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-height: 44px;
    min-width: 44px;
    z-index: 9999;
  }
}

@utility backfaceHidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@keyframes progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.bgColor {
  @apply bg-white dark:bg-black;
}

.bg-brand-color {
  @apply from-primary-dark-400 dark:from-primary-dark-400/60 to-primary-dark-800 dark:to-primary-dark-800/60 bg-linear-to-bl;
}

.custom-focus {
  @apply focus-visible:ring-primary-dark-200 dark:focus-visible:ring-primary-dark-100 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-offset-3 focus-visible:outline-none;
}

.category-focus {
  @apply focus-visible:outline-primary-950 focus-visible:outline-2 focus-visible:outline-offset-1;
}

.custom-control-focus {
  @apply focus-visible:outline-primary-950 focus-visible:outline-2 focus-visible:outline-offset-2;
}

.accountFormFocus {
  @apply focus:ring-primary-950 focus-visible:ring-primary-950 focus:ring-2 focus:outline-none focus-visible:ring-2 focus-visible:outline-none;
}

.accountLinksFocus {
  @apply focus-visible:ring-primary-950 focus-visible:ring-2 focus-visible:outline-none;
}

.page-padding {
  @apply px-4 sm:px-6 lg:px-10;
}

.account-padding {
  @apply -mx-4 px-4 sm:-mx-6 sm:px-6 md:-mx-0 md:px-0;
}

.focus-style {
  @apply focus-visible:ring-primary-dark-200 dark:focus-visible:ring-primary-dark-100 focus-visible:ring-2 focus-visible:outline-none;
}
.focus-style-error {
  @apply focus-visible:ring-2 focus-visible:ring-red-600 focus-visible:outline-none;
}
.focus-style-button {
  @apply focus-visible:ring-primary-dark-200/90 dark:focus-visible:ring-primary-950/80 focus-visible:ring-4 focus-visible:ring-offset-[3px] focus-visible:outline-none;
}
.focus-style-img {
  @apply focus-visible:ring-primary-900/80 dark:focus-visible:ring-primary-900/80 focus-visible:ring-4 focus-visible:outline-none;
}

.cl-active {
  @apply dark:bg-zinc-950;
}
